head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel="icon", sizes="16x16 32x32", href="/favicon.ico?v=2")
  //- Video.js
  link(rel='stylesheet', href='//vjs.zencdn.net/4.8/video-js.css')
  script(src='//vjs.zencdn.net/4.8/video.js')
  title URL Comment
body