//- doctype html
html(leng='en', ng-app='myapp', ng-csp)
	head
		meta(charset='utf-8')
		link(href='stylesheets/custom.css', rel='stylesheet', media='screen')
	body(ng-controller='mainCtrl as main')
		header#url 
			.icon
				input(required='' , type='text' ng-model="currentScopeURL") 
				label(alt='URL :' , placeholder='URL :')
			.title 
				#title-name {{currentScopeTitle}}
				.total Total: {{comments.length}}
		.wrapper
			.command(ng-repeat='comment in comments | filter: keywordFilter')
				pre.content {{comment.comment}}
				.time-stamp {{comment.date}}
		.write-command
			textarea.write(placeholder='寫下你的評論.....', ng-model='inputComment', ng-enter='postComment(inputComment)' , rows="2" , wrap="hard")
			input.search(placeholder="搜尋關鍵字....", ng-model='keywordFilter', ng-keydown='keepBottom(".wrapper")')
			button.send(ng-click='postComment(inputComment)') SEND
			.wrap
				input#status(type='checkbox' name="status" value="search" ng-click='switchEvent()')
				label.status-slider(for='status')
			//- .container.search
			//- 	.switch.white
			//- 			input#switch-off(name='switch', type='radio')
			//- 			input#switch-on(checked='checked', name='switch', type='radio')
			//- 			label(for='switch-off') Commend
			//- 			label(for='switch-on') Search
			//- 			span.toggle


		script(type='text/javascript', src= 'js/lib/jquery-2.0.3.min.js')
		script(type='text/javascript', src= 'js/lib/angular.min.js')
		script(type='text/javascript', src= 'js/lib/autogrow.min.js')
		script(type='text/javascript', src= 'js/lib/meteor-ddp.js')
		script(type='text/javascript', src= 'js/angular/mainCtrl.js') 
		script(type='text/javascript', src= 'js/angular/mainDirective.js') 

