html
	meta(charset="utf-8")
	//- Script
	script(type="text/javascript", src="js/lib/jquery-2.0.3.min.js")
	script(type="text/javascript", src="js/lib/bootstrap.min.js")
	script(type="text/javascript", src="js/popup.js")
	script(type="text/javascript", src="js/autogrow.min.js")

	//- CasCading Style Sheet
	//- link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
	link(href="stylesheets/custom.css", rel="stylesheet", media="screen")

body
	header#url 
		.icon URL
		span.url
	.title
		h1 Animated sliding tab bar
	.wrapper
		.command
			p.content 我覺得這真是太棒了
			.time-stamp 2013 / 08 / 12
		.command 
			p.content 怎麼說，我想聽聽各位的看法
			.time-stamp 2013 / 08 / 12
		.command
			p.content 可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論
			.time-stamp 2013 / 08 / 12
		.command
			p.content 可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論
			.time-stamp 2013 / 08 / 12
		.command
			p.content 我覺得這真是太棒了
			.time-stamp 2013 / 08 / 12
		.command 
			p.content 怎麼說，我想聽聽各位的看法
			.time-stamp 2013 / 08 / 12
		.command
			p.content 可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論
			.time-stamp 2013 / 08 / 12
		.command
			p.content 我覺得這真是太棒了
			.time-stamp 2013 / 08 / 12
		.command 
			p.content 怎麼說，我想聽聽各位的看法
			.time-stamp 2013 / 08 / 12
		.command
			p.content 可以對不同URL做評論，我們再也不用針對不同平台登入不同系統才可以留言，在這個外掛上就可以討論
			.time-stamp 2013 / 08 / 12
	.write-command
		textarea.write placeholder="寫下你的評論....."
		button.send SEND