
<html leng="en" ng-app="myapp" ng-csp="ng-csp">
  <head>
    <meta charset="utf-8"/>
    <link href="stylesheets/custom.css" rel="stylesheet" media="screen"/>
  </head>
  <body ng-controller="mainCtrl as main">
    <header id="url"> 
      <div class="icon">
        <input required="" type="text" ng-model="currentScopeURL"/>
        <label alt="URL :" placeholder="URL :"></label>
      </div>
      <div class="title"> 
        <div id="title-name">{{currentScopeTitle}}</div>
        <div class="total">Total: {{comments.length}}</div>
      </div>
    </header>
    <div class="wrapper">
      <div ng-repeat="comment in comments" class="command">
        <pre class="content">{{comment.comment}}</pre>
        <div class="time-stamp">{{comment.date}}</div>
      </div>
    </div>
    <div class="write-command">
      <textarea placeholder="寫下你的評論....." ng-model="inputComment" ng-enter="postComment(inputComment)" rows="2" wrap="hard" class="write"></textarea>
      <input type="search" placeholder="搜尋關鍵字...." class="search"/>
      <button ng-click="postComment(inputComment)" class="send">SEND</button>
      <div class="wrap">
        <input id="status" type="checkbox" name="status" value="search"/>
        <label for="status" class="status-slider"></label><img src="images/comment.svg" class="icon-comment"/><img src="images/search.svg" class="icon-search"/>
      </div>
      
    </div>
    <script type="text/javascript" src="js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/autogrow.min.js"></script>
    <script type="text/javascript" src="js/lib/meteor-ddp.js"></script>
    <script type="text/javascript" src="js/angular/mainCtrl.js"> </script>
    <script type="text/javascript" src="js/angular/mainDirective.js"> </script>
  </body>
</html>