doctype html
html(leng='en', ng-app='myapp', ng-csp)
  head
    meta(charset='utf-8')
    link(href='stylesheets/style.css', rel='stylesheet', media='screen')
  body(ng-controller='mainCtrl as main')
    header#url 
      .icon
        input(required='' , type='text' ng-model="currentScopeURL") 
        label(alt='URL :' , placeholder='URL :')
      .title 
        #title-name {{currentScopeTitle}}
        .total Total: {{comments.length}}
    .wrapper
      .comments(ng-repeat='comment in comments | filter: keywordFilter')
        pre.content {{comment.body}}
        .info 
          span posted on 
          span.submitted {{comment.submitted | date: 'yyyy-MM-dd HH:mm:ss'}} 
          span by 
          span.author {{comment.author}}
      .empty(ng-if="comments.length == 0 || !comments")
    .write-comment
      textarea.write(placeholder='Leave a comment.....', ng-model='inputComment', ng-enter='postComment(inputComment)' , rows="2" , wrap="hard")
      input.search(placeholder="Search for....", ng-model='keywordFilter', ng-keydown='keepBottom(".wrapper")')
      button.send(ng-click='postComment(inputComment)') SEND
      .wrap
        input#status(type='checkbox' name="status" value="search" ng-click='switchEvent()')
        label.status-slider(for='status')
        img.icon-comment(src="images/comment.svg")
        img.icon-search(src="images/search.svg")

    script(type='text/javascript', src='scripts/lib/jquery-2.0.3.min.js')
    script(type='text/javascript', src='scripts/lib/angular.min.js')
    script(type='text/javascript', src='scripts/lib/autogrow.min.js')
    script(type='text/javascript', src='scripts/lib/meteor-ddp.js')
    script(type='text/javascript', src='scripts/app.min.js')