template(name="postItem")
  .post($dyn = attributes)
    a.btn.btn-default.upvote(href="#", class="{{upvotedClass}}") ⬆
    .post-content
      h3
        a(href="{{link}}", target='_blank') #{title}
        span #{domain}
      p
        | {{pluralize votes "Vote"}},
        | submitted by #{author},
        | {{afterCreated}}
        a(href="{{pathFor 'postPage'}}") #{commentsCount} comments
        //- if ownPost
          a(href="{{pathFor 'postEdit'}}") Edit
    a.discuss.btn.btn-default(href="{{pathFor 'postPage'}}") Discuss