html {
  font-family: 'LiHei Pro Medium', 'Microsoft JhengHei';
  width: 320px;
  min-height: 568px;
  border: 2px solid #aaa; }

p, h1, h2, span {
  margin: 0;
  padding: 0; }

body {
  font-size: 13px;
  padding: 0;
  margin: 0; }

#url {
  background-color: #0ac8ee;
  height: 40px;
  width: 100%; }

.title {
  margin: 0 15px;
  border-bottom: 1px solid #0ac8ee;
  text-align: center; }
  .title h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.7em;
    font-size: 14px;
    color: #0ac8ee; }

.wrapper {
  height: 440px;
  overflow: auto; }

::-webkit-scrollbar {
  width: 2px; }

::-webkit-scrollbar-track {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background: #0ac8ee;
  border-radius: 5px; }

.command {
  max-height: 150px;
  overflow: auto;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #0ac8ee;
  padding: 5px;
  margin: 7px 10px 7px 10px; }

.content {
  color: #4c4c4c; }

.time-stamp {
  font-size: 12px;
  color: #b4b4b4;
  text-align: right; }

.write-command {
  border-top: 1px solid #0ac8ee;
  position: relative;
  width: 320px;
  height: 50px;
  bottom: 0; }

.write {
  padding-left: 5px;
  margin: 0;
  padding: 0;
  width: 250px;
  border: 1 solid #999999;
  max-height: 100px;
  resize: none;
  position: absolute;
  bottom: 7px;
  left: 5px; }
  .write:focus {
    border: 1 solid #0ac8ee;
    outline: none; }

.send {
  position: absolute;
  right: 5px;
  bottom: 7px;
  width: 55px;
  height: 36px;
  background-color: #0ac8ee;
  color: white;
  box-sizing: border-box;
  border: 1px solid #0ac8ee; }
  .send:hover {
    background-color: #0ac0e4; }
  .send:focus {
    outline: none; }
  .send:active {
    border: 1px solid #96eafb;
    bottom: 10px; }
