.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-bottom: 0;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
  }
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
