template(name="commentForm")
	form.form-horizontal(action="", role="form")

		.form-group
			label.col-sm-2.control-label Enter URL
			.col-sm-10
				input.form-control(type="text", placeholder="URL", name="url")
		.form-group
			label.col-sm-2.control-label Name
			.col-sm-10
				input.form-control(type="text", placeholder="URL", name="name")
		.form-group
			label.col-sm-2.control-label Comment
			.col-sm-10
				input.form-control(type="text", placeholder="URL", name="comment")
		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-default(type="submit") Post
				a(href="http://www.facebook.com/share.php?u=分享網址", target="_blank")
				button.btn.btn-default(type="submit") share to FB
				a(href="http://twitter.com/home/?status=網址標題 分享網址", target="_blank")
				button.btn.btn-default(type="submit") share to Twitter