template(name="urlSearch")
	#filter.input-group
		span.input-group-addon URL filter
		input#url-filter.form-control(type="text", placeholder="URL Search")
		button#url-submit.btn.btn-default(type="submit") Enter