template(name="navbar")
	nav.navbar.navbar-default(role="navigation")
		.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#")
				img#logo.img-responsive(src="/images/logo.jpg", alt="URL Comment")
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				+loginButtons