$blue: #0ac8ee;
$font-color: #4c4c4c;
$time: #b4b4b4;
$background-color: #fafafa;

html {
  font-family:"微軟正黑體", "Microsoft JhengHei", 'LiHei Pro Medium';
  width: 320px;
  height: 568px;
  background-color: $background-color;
  min-height: 568px;
  // border: 2px solid #aaa;
}
p, h1, h2, span, html{
  margin: 0;
  padding: 0;
}
body{
  font-family:"微軟正黑體", "Microsoft JhengHei", 'LiHei Pro Medium';
  font-size: 13px;
  padding: 0;
  margin: 0;
}

#url {
  // background-color: $blue;
  // height: 40px;
  // max-height: 100px;
}

input[type="text"] {
  display: block;
  margin: 10px 0 0 10px;
  color: transparent;
  box-sizing: border-box;
  width: 70px;
  height: 30px;
  padding: 15px 5px 15px 5px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background: #fff;
  resize: none;
  outline: none;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  background-color: $blue;
  &[required] {
    &:focus {
      background-color: darken($blue, 5%);
      cursor: text;
      margin-left: 50px;
      // border: 2px solid lighten($blue, 30%);
      width: 260px;
      color: #fff;
      + label[placeholder]:before {
        font-size: 14px;
        color: $blue;
        transform: translate(-10px, 0px);
      }
    }
    // &:valid + label[placeholder]:before {
    //   -webkit-transition-duration: .2s;
    //   transition-duration: .2s;
    //   // -webkit-transform: translate(0, 0em) scale(0.9, 0.9);
    //   // -ms-transform: translate(0, 0em) scale(0.9, 0.9);
    //   // transform: translate(0, 0em) scale(0.9, 0.9);
    // }
    // &:invalid + label[placeholder][alt]:before {
    //   content: attr(alt);
    // }
    + label[placeholder] {
      display: block;
      pointer-events: none;
      line-height: 17px;
      margin: -23px auto 0 auto;
      padding-left: 20px;
      // margin-bottom: calc((3em - 1em) + 2px);
      &:before {
        font-size: 18px;
        font-weight: bold;
        content: attr(placeholder);
        width: 30px;
        height: 30px;
        display: inline-block;
        padding: 0 2px;
        color: #f1f1f1;
        white-space: nowrap;
        transition: 0.3s ease-in-out;
        // background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
        // background-image: -webkit-linear-gradient(top, white, white);
        // background-image: linear-gradient(to bottom, white, white);
        // -webkit-background-size: 100% 5px;
        // background-size: 100% 5px;
        // background-repeat: no-repeat;
        // background-position: center;
      }
    }
  }
}





.title {
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden;
  margin: 0 10px;
  width: 300px;
  border-bottom: 1px solid $blue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.7em;
  font-size: 14px;
  color: $blue;
  
  h1{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.7em;
    font-size: 14px;
    color: $blue;
    max-height: 40px;
    overflow: hidden;
    
  }
}
.wrapper {
  height: 372px;
  overflow: auto;
}
::-webkit-scrollbar { 
  width: 2px; 
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fff; 
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 5px
}
.command {
  max-height: 150px;
  overflow: auto;
  border-radius: 3px;
  box-sizing: border-box;
  border-left: 3px solid lighten($blue, 30%);
  box-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  background-color: #fff;
}
pre {
  color: $font-color;
  display: block;
  word-wrap: break-word;
}
.time-stamp {
  font-size: 12px;
  color: $time;
  text-align: right;
}
.write-command {
  color: white;
  background-color: $blue;
  border-top: 1px solid lighten($blue, 10%);
  box-shadow: 0 -2px 0 rgba(200, 200, 200, 0.7);
  position: absolute;
  width: 320px;
  height: 108px;
  bottom: 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #dedede;
}
.write {
  color: #fff;
  border-radius: 5px;
  background-color: darken($blue, 5%);
  padding: 8px;
  width: 240px;
  border: 0;
  resize: none;
  position: absolute;
  bottom: 50px;
  left: 10px;
  box-sizing: border-box; 
  transition: all .5s;
  &:focus{
    background-color: darken($blue, 10%);
    border: 0;
    outline: none;
  }
}
.send {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background-color: darken($blue, 10%);
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  border: 1px solid $blue;
  transition: all .3s;
  &:hover {
    background-color: darken($blue, 15%);
  }
  &:focus {
    outline: none;
  }
  &:active {
    border-top: 2px solid darken($blue, 25%);
    // bottom: 49px;
  }
  
}

// input {
//   font-family: inherit;
//   font-size: 13px;
//   line-height: normal;
//   margin: 0;
//   &[type="radio"] {
//     box-sizing: border-box;
//     padding: 0;
//   }
// }


.wrap { 
  position: absolute; 
  bottom: 7px; 
  left: 10px;
  float: left; 
  input { 
    position: absolute; 
    left: -9999px 
  }
}



// ********** Background:
.status-slider {
  position: relative; 
  display: block;
  width: 90px; 
  height: 36px;
  cursor: pointer;
  border-radius: 5px;
  transition: 350ms;
  background: #ddd;
}

// ********** Switch:
.status-slider::after {
  position: absolute; 
  content:'';
  width: 26px; 
  height: 26px;
  top: 5px; 
  left: 5px;
  border-radius: 20px;
  transition:
    width 200ms ease-out,
    height 300ms 50ms ease-in,
    top 300ms 50ms ease-in,
    left 250ms 50ms ease-in,
    box-shadow 300ms ease-in;
  background: $blue;
  box-shadow: 0 0 0 1.5em #f2f2f2 inset;
}

input:checked + .status-slider::after {
  width: 30px; 
  height: 30px;
  top: 3px; 
  left: 56px;
  box-shadow: 0 0 0 0 #f2f2f2 inset;
  border-radius: 5px;
}

