<template name="main">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				{{> navbar}}
				<div class="panel-group col-md-12" id="panel-260741">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a id="url-collapse" class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-260741" href="#panel-element-393854">URL</a>
						</div>
						<div id="panel-element-393854" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="col-md-12">
									{{> urlSearch}}
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<a id="comment-collapse" class="panel-title" data-toggle="collapse" data-parent="#panel-260741" href="#panel-element-795158">Comment</a>
						</div>
						<div id="panel-element-795158" class="panel-collapse in">
							<div class="panel-body">
								{{> commentForm}} {{#each posts}} {{> postList}} {{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>