template(name="navbar")
  nav.navbar.navbar-default(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="{{pathFor 'home'}}")
        img#logo.img-responsive(src="images/logo01.png", alt="URL Comment")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          form.search-container
            input#search-box.search-box(type='text', name='q')
            label(for='search-box')
              span.glyphicon.glyphicon-search.search-icon
            input#search-submit(type="submit")
      ul.nav.navbar-nav.navbar-right
        li
          a(href="{{pathFor 'products'}}") Products
        li
          a(href="{{pathFor 'blog'}}") Blog
        li
          a(href="{{pathFor 'about'}}") About
        li
          a(href="{{pathFor 'contacts'}}") Contacts
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown")
            | Dropdown
            strong.caret
          ul.dropdown-menu
            li
              a(href="") Action
            li
              a(href="") Another Action
            li
              a(href="") Something else here
            li.divider
            li
              a(href="") Separated link      
        +loginButtons