template(name="home")
  #carousel-196337.carousel.slide
    ol.carousel-indicators
      li.active(data-slide-to="0", data-target="#carousel-196337")
      li(data-slide-to="1", data-target="#carousel-196337")
      li(data-slide-to="2", data-target="#carousel-196337")
    .carousel-inner
      .item.active
        img(alt="", src="http://lorempixel.com/1600/500/sports/1")
        .carousel-caption
          h4 First Thumbnail label
          p 
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      .item
        img(alt="", src="http://lorempixel.com/1600/500/sports/2")
        .carousel-caption
          h4 Second Thumbnail label
          p 
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      .item
        img(alt="", src="http://lorempixel.com/1600/500/sports/3")
        .carousel-caption
          h4 Third Thumbnail label
          p 
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    a.left.carousel-control(href="#carousel-196337", data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#carousel-196337", data-slide="next")
      span.glyphicon.glyphicon-chevron-right